{% extends 'layout.html' %}

{% block body %}


<center>
    <form action="/" method="post">

        <h2>Entreprise</h2>
        Tesla<input type="radio" style="vertical-align: middle" name="tweets" value="0" checked="true">
        <br/>
        Air Liquide<input type="radio" style="vertical-align: middle" name="tweets" value="1">
        <br/>
        FNSEA<input type="radio" style="vertical-align: middle" name="tweets" value="2">
        <br/>

        <h2>Model</h2>
        ESG-BERT (English)<input type="radio" style="vertical-align: middle" name="model" value="0" checked="true">
        <br/>
        SBERT (MultiLing)<input type="radio" style="vertical-align: middle" name="model" value="1">
        <br/>
        XLM-RoBERTa Base (MultiLing)<input type="radio" style="vertical-align: middle" name="model" value="2">
        <br/>

        <h2>Semi-Supervised</h2>
        Yes<input type="radio" id= "sem_sup"name="sem_sup" style="vertical-align: middle" value="0" onclick="myFunction()">
        <br/>
        No<input type= "radio" name="sem_sup" style="vertical-align: middle" value="1" checked="true" onclick="myFunction()">
        <br/>


        <div id="language" style="display:none">
            <h2>Language</h2>
            French<input type="radio" name="lang" style="vertical-align: middle" value="fr">
            <br/>
            English<input type="radio" name="lang" style="vertical-align: middle" value="en" checked="true">
            <br/>
        </div>


        <h2>Dimension UMAP</h2>
        <input type="number" placeholder="Dimension" name="dim" value="50">

        <h2>Clustering Model</h2>
        KMeans<input type="radio" id= "KMeans" name="cluster_model" style="vertical-align: middle" value="0" onclick="myFunction_1()">
        <br/>
        DBScan<input type= "radio" id = "DBScan" name="cluster_model" style="vertical-align: middle" value="1" checked="true" onclick="myFunction_1()">
        <br/>


        <div id="k_value" style="display:none">
            <h2>Number of Clusters K</h2>
            <input type="number" name="nb_clusters" value="15">
        </div>



        <div id="topic_size" style="display:block">
            <h2>Minimal Topic Size</h2>
            <input type="number" name="min_topic_size" value="20">
        </div>


        <script>
            function myFunction() {
            var checkBox = document.getElementById("sem_sup");
            var lang = document.getElementById("language");
            if (checkBox.checked == true)
            {
                lang.style.display = "block";
            } 
            else
            {
                lang.style.display = "none";
            }
            }
    
    
            function myFunction_1() {
            var checkBox = document.getElementById("DBScan");
            var size = document.getElementById("topic_size");
            var k = document.getElementById("k_value");
            if (checkBox.checked == true)
            {
                size.style.display = "block";
                k.style.display = "none";
            } 
            else
            {
                size.style.display = "none";
                k.style.display = "block";
            }
            }
            </script>
    </form>
    <input type="submit" name="btn" value="Submit">

</center>

{% endblock %}
    <!-- <h2>ESG Model</h2>
    Means Model<input type="checkbox" style="vertical-align: middle" name="filter" value="Mean" checked="true">
    <br/>
    FinBERT Model<input type="checkbox" style="vertical-align: middle" name="filter" value="Bert" checked="true">
    <br/>
    Gram-Schmidt Model<input type="checkbox" style="vertical-align: middle" name="filter" value="GS" checked="true">
    <br/>
    <br/>
    <br/>
    <input type="submit" name="btn" value="Classify">
</form>
    <br/>

    {%if warning%}
        <h2>Please choose at least one model</h2>
    {%endif%}



{% elif step == "Truth" %}
<center>
    {% set models = ["Means", "FinBERT", "Gram-Schmidt"] %}
    {% for i in range(3) %}
        {% if label[i] %}
            <li>{{models[i]}} says the label is: {{label[i]}}</li>
        {% endif %}
    {% endfor%}

    <br/>
    <br/>
    <br/>
    <form action="/{{id}}" method="post">
        <h2>What's the true label?</h2>
        Environmental<input type="radio" style="vertical-align: middle" name="tlabel" value="E" checked="true">
        <br/>
        Social<input type="radio" style="vertical-align: middle" name="tlabel" value="S">
        <br/>
        Governance<input type="radio" style="vertical-align: middle" name="tlabel" value="G">
        <br/>
        Not ESG<input type="radio" style="vertical-align: middle" name="tlabel" value="N">
        <br/>
        <br/>
        <br/>
    <input type="submit" name="btn" value="Submit">


{% endif %}
</center> -->


