{% extends 'layout.html' %}

{% block body %}

{% if step == "Generate" %}

    <center>
        <form action="/" method="post">

            <h2>Model</h2>
            ESG-BERT (English)<input type="radio" style="vertical-align: middle" name="embed_model" value="0" checked="true">
            <br/>
            SBERT (MultiLing)<input type="radio" style="vertical-align: middle" name="embed_model" value="1">
            <br/>
            XLM-RoBERTa Base (MultiLing)<input type="radio" style="vertical-align: middle" name="embed_model" value="2">
            <br/>

            <div id="language" style="display:none">
                <h2>Language</h2>
                French<input type="radio" name="lang" style="vertical-align: middle" value="fr">
                <br/>
                English<input type="radio" name="lang" style="vertical-align: middle" value="en" checked="true">
                <br/>
            </div>

            
            <h2>Use UMAP</h2>
                No<input type="radio" id="no_umap" name="use_umap" style="vertical-align: middle" value="0" onclick="myFunction_2()">
                <br/>
                Yes<input type="radio" id="yes_umap" name="use_umap" style="vertical-align: middle" value="1" checked="true" onclick="myFunction_2()">
                <br/>

            <div id="dim_umap" style="display:block">
                <h2>Dimension UMAP</h2>
                <input type="number" placeholder="Dimension" name="dim" value="50">
            </div>

            <h2>Clustering Model</h2>
            KMeans<input type="radio" id= "KMeans" name="cluster_model" style="vertical-align: middle" value="1" onclick="myFunction_1()">
            <br/>
            DBScan<input type= "radio" id = "DBScan" name="cluster_model" style="vertical-align: middle" value="0" checked="true" onclick="myFunction_1()">
            <br/>
            ToMATo<input type= "radio" id = "ToMATO" name="cluster_model" style="vertical-align: middle" value="2" onclick="myFunction_1()">
            <br/>


            <!-- <div id="k_value" style="display:none">
                <h2>Number of Clusters K</h2>
                <input type="number" name="nb_clusters" value="15">
            </div> -->



            <div id="topic_size" style="display:block">
                <h2>Minimal Topic Size</h2>
                <input type="number" name="min_topic_size" value="20">
            </div>


            <script>
                function myFunction() {
                var checkBox = document.getElementById("sem_sup");
                var lang = document.getElementById("language");
                if (checkBox.checked == true)
                {
                    lang.style.display = "block";
                } 
                else
                {
                    lang.style.display = "none";
                }
                }
        
        
                function myFunction_1() {
                var checkBox = document.getElementById("DBScan");
                var size = document.getElementById("topic_size");
                // var k = document.getElementById("k_value");
                if (checkBox.checked == true)
                {
                    size.style.display = "block";
                    // k.style.display = "none";
                } 
                else
                {
                    size.style.display = "none";
                    // k.style.display = "block";
                }
                }

                function myFunction_2() {
                var checkBox = document.getElementById("yes_umap");
                var size = document.getElementById("dim_umap");
                if (checkBox.checked == true)
                {
                    size.style.display = "block";
                } 
                else
                {
                    size.style.display = "none";
                }
                }
            </script>


            <h2>ESG Filter Model</h2>
            GS Model<input type="radio" id= "GS" name="esg_model" style="vertical-align: middle" value="0" >
            <br/>
            Mean Model<input type= "radio" id = "Mean" name="esg_model" style="vertical-align: middle" value="1" checked="true" >
            <br/>
            FinBERT<input type= "radio" id = "FinBert" name="esg_model" style="vertical-align: middle" value="2">
            <br/>

            <h2>Keywords Model</h2>
            TFIDF Classic<input type="radio" id= "tfidf1" name="keywords_model" style="vertical-align: middle" value="0">
            <br/>
            TFIDF scikit<input type= "radio" id = "tfidf2" name="keywords_model" style="vertical-align: middle" value="1" checked="true">
            <br/>
            KeyBERT<input type= "radio" id = "keybert" name="keywords_model" style="vertical-align: middle" value="2">
            <br/>

            <h2>Sentiment Analysis Model</h2>
            RoBERTa<input type="radio" id= "Roberta" name="sent_model" style="vertical-align: middle" value="0" checked="true">
            <br/>
            BERT uncased<input type= "radio" id = "Bert" name="sent_model" style="vertical-align: middle" value="1">
            <br/>

            <br/>            
            <br/>
            <br/>
            <input type="submit" name="btn" value="Generate Model">
        </form>
    </center>




{% elif step == "Test" %}
    <form action="/dataframe" method="post">
        <center>
            <h2>Entreprise</h2>
            Tesla<input type="radio" style="vertical-align: middle" name="df" value="tesla" checked="true">
            <br/>
            Air Liquide<input type="radio" style="vertical-align: middle" name="df" value="air">
            <br/>
            FNSEA<input type="radio" style="vertical-align: middle" name="df" value="fnsea">
            <br/>
            Amazon<input type="radio" style="vertical-align: middle" name="df" value="amaen">
            <br/>
            Amazon France<input type="radio" style="vertical-align: middle" name="df" value="amafr">
            <br/>

            <input type="submit" name="btn" value="Test Model">

        </center>
    </form>
{% endif %}

{% endblock %}